* {
    color: var(--light_color);
}

@font-face {
    font-family: "Larissa";
    src: url('Larissa.ttf');
    font-weight: normal;
    font-style: normal;
}

:root {
    --light_color: #222323;
    --solid_color: #f0f6f0;
    --accent_color: #e31c19;
    --double_accent_color: #222323;
    --shadow_color: #96afb3;
    --really_dark_color: #f0a23c;
    --button_color: #d3e2e3;


    --container_width: 1200px;
    --breakpoint1200: 1200px;
    --breakpoint920: 920px;
    --breakpoint768: 768px;
    --breakpoint480: 480px;
    --breakpoint320: 320px;

}

body {
    background-color: var(--solid_color);
    font-family: 'Larissa', cursive; 
    letter-spacing: 0.06em;


}

.container {
    vertical-align: middle;
}

.account__input {
    font-size: 15px;
    color: var(--accent_color);
    width: 800px;
    margin-top: 200px;
    vertical-align: middle;
    text-align: center;
}

.account__input:focus-visible {
    outline: none;
}

.choice-btn {
    background: none;
    color: var(--light_color);
    border-radius: 40px;
    height: 50px;
    width: 200px;
    font-size: 10px;
    box-shadow: 0 10px 20px var(--shadow_color);
    transition: all 0.4s;
    margin: 10px;
}

.choice-btn:hover {
    transform: scale(1.05);
    cursor: pointer;
    box-shadow: 0 10px 20px var(--shadow_color);
}

.account__submit:focus {
    outline: none;
}

.account__field {
    text-align: center;
    border-radius: 10px;
    background: none;
    color: var(--light_color);
}

.account__label {
    color: var(--light_color);
    margin-right: 10px;

}

.field__text {
    color: var(--accent_color);
}


input[type=text], input[type=password] {
    text-align: center;
    border-radius: 10px;
    background: none;
}

input[type=text]:focus, input[type=password]:focus {
    outline: none;
}

.choice-btn {
    border-width: 4px;
    border-style: solid;
    border-top-color: var(--light_color);
    border-right-color: var(--accent_color);
    border-bottom-color: var(--accent_color);
    border-left-color: var(--light_color);
    background: none;
}

.choice_container {
    vertical-align: middle;
    text-align: center;
}

.title {
    color: var(--light_color);
    margin-top: 250px;
    margin-bottom: 54px;
    font-size: 30px;
    text-align: center;
    height: 150px;
}

.small_text {
    font-size: 20px;
  }

h1 {
    height: 100px;
  }
  
