{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <meta http-equiv="content-type" content="text/html; charset=UTF8"> -->
    <title>Stick the music</title>

    <link rel="stylesheet" href="{% static 'game/css/colors.css' %}">
    <link rel="stylesheet" href="{% static 'game/css/index.css' %}">
    <link rel="stylesheet" href="{% static 'game/css/style.css' %}">

    <link rel="shortcut icon" type="image/png" href="../../static/game/images/ball_favicon.ico"/>

</head>

<!-- <body style = "background-color:green"> -->
<body>
    <div class="container">
        <article class="game">
            <div class="game__top-bar">
                <div class="game__close">
                    <a href="/dashboard/"><button class="game__close-btn">Close</button></a>
                </div>
                {% comment %} <div class="game__task">
                    <h1 class="game__task-text">Remember as many <span class="game__task-category">{{ game.task.category.name }}</span> staring with <span class="game__task-letter">{{ game.task.letter }}</span></h1>
                </div> {% endcomment %}
                <div class="game__instance">
                    <h1 class="game__instance-text">It is your turn</h1>
                </div>
                <div class="game__error">
                    <h1 class="game__error-text"></h1>
                </div>
            </div>


        </article>
    </div>
    <embed name="game_music" id="myAudio" src="../../static/game/music/morning.mp3" loop="True" hidden="true" autostart="true" preload="none" volume="50%">
    
    <canvas id="screen" width="1500" height="1000" ></canvas>
    <script src="../../static/game/js/Canvas.js"></script>
    <script src="../../static/game/js/Main.js"></script>
    <script src="../../static/game/js/GameFunction.js"></script>
    <script src="../../static/game/js/Assets.js"></script>
    <script src="../../static/game/js/Color.js"></script>
    <script src="../../static/game/js/Stick.js"></script>
    <script src="../../static/game/js/Direction.js"></script>
    <script src="../../static/game/js/input/Button.js"></script>
    <script src="../../static/game/js/input/Mouse.js"></script>
    <script src="../../static/game/js/Ball.js"></script>
    <script src="../../static/game/js/Constants.js"></script>
    <script src="../../static/game/js/Rules.js"></script>
    <script src="../../static/game/js/Opponent.js"></script>
    <script src="../../static/game/js/Player.js"></script>

    <script>
        loadAssets(PoolGame.start);
    </script>

</body>
</html>