
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <meta http-equiv="content-type" content="text/html; charset=UTF8"> -->
    <title>Cue the music</title>

    <!-- <link rel="stylesheet" type="text/css" href="css/game-layout.css"/>
    <link rel="shortcut icon" type="image/png" href="assets/sprites/favicon.png"/> -->

</head>

<!-- <body style = "background-color:green"> -->
<body>
    Success!!!!!!!!!!!!!!!!!!!!!!!!
    
    <!-- hello world! -->
    <!-- <canvas id="screen" width="1500" height="1000" ></canvas>

    <script src="../../static/game/js/Canvas.js"></script>
    <script src="../../static/game/js/Game.js"></script>
    <script src="../../static/game/js/GameWorld.js"></script>
    <script src="../../static/game/js/Assets.js"></script>
    <script src="../../static/game/js/Color.js"></script>
    <script src="../../static/game/js/Stick.js"></script>
    <script src="../../static/game/js/Vector2.js"></script>
    <script src="../../static/game/js/input/ButtonState.js"></script>
    <script src="../../static/game/js/input/Mouse.js"></script>
    <script src="../../static/game/js/Ball.js"></script>

    <script>
        loadAssets(PoolGame.start);

    </script> -->

</body>
</html>